<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Lisää tapahtuma</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>
<!-- ADMIN TOIMINTOJA JATKOKEHITYKSEEN
	<nav class="navbar navbar-light bg-light">
 		<div class="container d-flex flex-column flex-md-row justify-content-between">
    		<a sec:authorize="hasAuthority('ADMIN')" href="/">Myyjät</a>
  			<a sec:authorize="hasAuthority('ADMIN')" href="/" class="btn btn-success">Tapahtumat</a>
			<a sec:authorize="hasAuthority('ADMIN')" href="/" class="btn btn-success">Asiakkaat</a>
  		</div>
	</nav>
	</nav>
-->
	
	 <div align="center" class="jumbotron" >
		<h1>Lisää tapahtuma</h1>
<!--	LOGIN ominaisuuksia jatkokehitykseen:	
		<form  th:action="@{/logout}" method="post">
		<input type="submit" value="Kirjaudu ulos" class="btn btn-outline-danger">
		</form>
-->
	</div>
	
	
	<div align="center">
			<form action="#" th:object="${event}" th:action="@{/save}" method="post">
			
			<!-- 	public Event(@NotNull String name, @NotNull String description, double price, @NotNull String venue,
			@NotNull Date date, @NotNull Time time, @NotNull int ticketInventory, List<Ticket> tickets) -->
			
			<table> 
				<tr>
		  	<td><label for="name">Tapahtuman nimi</label></td>
			<td><input type="text" id="name" th:field="*{name}" /></td>
<!--  			<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error </td> -->
				</tr>
				<tr>
		  	<td><label for="description">Kuvaus</label></td>
			<td><input type="text" id="description" th:field="*{description}" /></td>
				</tr>
				<tr>
			<td><label for="price">Perushinta</label></td>
			<td><input type="text" id="price" th:field="*{price}" /></td>
				</tr>
				<tr>
			<td><label for="venue">Paikka</label></td>
			<td><input type="text" id="venue" th:field="*{venue}" /></td>
				</tr>
				<tr>
			<td><label for="date">Päivämäärä muodossa: yyyy-mm-dd</label></td>
			<td><input type="text" id="date" th:field="*{date}" /></td>
				</tr>				
				<tr>
			<td><label for="time">Aika muodossa: hh:mm:ss</label></td>
			<td><input type="text" id="time" th:field="*{time}" /></td>
				</tr>					
				<tr>
			<td><label for="ticketInventory">Paikkoja myynnissä</label></td>
			<td><input type="text" id="ticketInventory" th:field="*{ticketInventory}" /></td>
				</tr>
											
				<tr>
			<td colspan="3"><input type="submit" value="Tallenna"></input></td>
				</tr>
		</table>
	</form>
	</div>


</body>
</html>