<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <title>LIPUT</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        
    </head>
 	<body>
<!--     <body onLoad='main();'> -->


    <form onsubmit="findTicket">
    <br><br>
	<label for="ticketcode">Anna lipun koodi:</label>
	<br><br>
  	<input type="search" name="ticketcode" id="ticketcode">
	<br><br>
	<input type ="hidden" name="msg" id="msg">
	<br><br>
    <input type="submit" name ="Hae" >
	</form>
	<br><br>
	<br><br>
	<div id="info">Lipun tiedot</div>
	<br><br>
	
			<div id="showInfo">
				<table data-role="table" id="infoTable" class="ui-responsive">
					<thead>
						<tr>
							<th>Tapahtuma</th>
							<th>Tyyppi</th>
							<th>Hinta</th>							
						</tr>
					</thead>
					<tbody>					
					</tbody>
				</table>
			</div>

    </body>

<script type="text/javascript">

// function main()
// {

//     $.ajax
//     ({
//         dataType: "json",
//         url: "http://localhost:8080/api/events/" ,
// 		headers: {
// 			"Authorization": "Basic " + btoa("niilo" + ":" + "salasana")
// 		},
//         success: function(data)
//         {
//             console.log("log response on success:");
//             console.log(data);
//         }
//     });
// }

		function findTicket(){
			var ticketcode = document.getElementById("ticketcode");
			
			if(ticketcode =""){
				document.getElementById("msg").innerHTML = "Anna Lippukoodi"
			}else{
			$("#infoTable tbody").html("");
			$.getJSON("http://localhost:8080/api/tickets/" + ticketcode, function(result){
				
				
				$.each(result, function(i, field) {					
					$("#infotable tbody").append("<tr><td>"
													+field.event
													+"</td><td>"	
													+field.tickettype
													+"</td><td>"
													+field.price
													+"</td></tr>");								
				});//each
			});//json
		}//else
	
		}//function

</script>

</html>
